In [1]:
import json
import pandas as pd
import numpy as np
import re
from datetime import datetime

In [67]:
file_1 = "/Users/alyssanguyen/Desktop/IRLE_scraping/csv_files/raw_prices_ubereats_nonca_ff_03292024.csv"
file_2 = "/Users/alyssanguyen/Desktop/IRLE_scraping/csv_files/final_nonca_rnd2.csv"
pre = pd.read_csv(file_1)
post = pd.read_csv(file_2, low_memory = False)

file_path_2 = "/Users/alyssanguyen/Desktop/IRLE_scraping/csv_files/uszips.csv"
ca_zip_count = pd.read_csv(file_path_2)
ca_zip_count = ca_zip_count[['zip', 'county_name']]

In [68]:

# Define the pattern and extraction function
pattern = r",\s*([a-zA-Z]{2})\s*,?\s*(\d{5}(?:-\d{4})?)"

def extract_state_zip(address):
    match = re.search(pattern, address)
    if match:
        state, zip_code = match.groups()
        return state, zip_code
    else:
        return None, None

for i, df in enumerate([pre, post]):
    df = df.drop(columns=['Unnamed: 0', 'inputted_location', 'restaurant_distance'])
    df = df.dropna(subset=['restaurant_location'])

    # Ensure the column is of string type using .loc
    df.loc[:, 'restaurant_rating'] = df['restaurant_rating'].astype(str)

    # Count rows containing 'mi'
    rows_with_mi = df['restaurant_rating'].str.contains('mi').sum()
    print("Number of rows with 'mi' in restaurant rating:", rows_with_mi)

    # Replace invalid ratings ending with 'mi' with '0' using .loc
    df.loc[:, 'restaurant_rating'] = df['restaurant_rating'].str.replace(r'.*mi$', '0', regex=True)
    df = df.dropna()
    df = df[df['menu_item_price'] != 0]

    # Converting data types
    df['restaurant_name'] = df['restaurant_name'].astype('string')
    df['menu_item'] = df['menu_item'].astype('string')
    df['menu_item'] = df['menu_item'].str.replace(r'\s+', ' ', regex=True)
    df['restaurant_location'] = df['restaurant_location'].astype('string')
    df['restaurant_rating'] = df['restaurant_rating'].str.strip().astype(float)

    # Cleaning up string columns
    df['menu_item'] = df['menu_item'].str.lower()
    df['restaurant_location'] = df['restaurant_location'].str.lower()
    df['restaurant_name'] = df['restaurant_name'].str.replace('_', ' ')

    # Remove special characters
    df['menu_item'] = df['menu_item'].apply(lambda x: ''.join(ch for ch in x if ch.isalnum() or ch.isspace()))

#     # Apply the function to extract state and zip code
#     df[['state', 'zip']] = df['restaurant_location'].apply(lambda x: pd.Series(extract_state_zip(x)))
#     df['zip'] = df['zip'].str.split('-').str[0].astype(int)

#     # Merge with ca_zip_count to get county
#     df = df.merge(ca_zip_count, on='zip')

    # Assign the modified DataFrame back to the original variable
    if i == 0:
        pre = df
    else:
        post = df

Number of rows with 'mi' in restaurant rating: 6538
Number of rows with 'mi' in restaurant rating: 0

In [69]:
pre.head()

,restaurant_name,menu_item,menu_item_price,restaurant_location,restaurant_rating,number_of_ratings
0,McDonald,medium french fries,3.49,"18515 media drive, robertsdale, al, 36567, us",4.7,18
1,McDonald,6 pc chicken mcnuggets happy meal,7.09,"18515 media drive, robertsdale, al, 36567, us",4.7,18
2,McDonald,10 pc chicken mcnuggets meal,11.19,"18515 media drive, robertsdale, al, 36567, us",4.7,18
3,McDonald,10 pc chicken mcnuggets,6.89,"18515 media drive, robertsdale, al, 36567, us",4.7,18
4,McDonald,big mac,6.49,"18515 media drive, robertsdale, al, 36567, us",4.7,18

In [ ]:
df[['state', 'zip']] = df['restaurant_location'].apply(lambda x: pd.Series(extract_state_zip(x)))
df['zip'] = df['zip'].str.split('-').str[0].astype(int)

# Merge with ca_zip_count to get county
df = df.merge(ca_zip_count, on='zip')

In [49]:
# counties = [
#     "baldwin", "jefferson", "madison", "mobile", "chatham", "cobb", "dekalb", "fulton", "gwinnett",
#     "ada", "hamilton", "lake", "marion", "polk", "johnson", "sedgwick", "fayette", "east baton rouge", 
#     "lafayette", "orleans", "st. tammany", "harrison", "hillsborough", "rockingham", "buncombe", 
#     "cumberland", "durham", "forsyth", "guilford", "mecklenburg", "new hanover", "wake", "cleveland", 
#     "oklahoma", "tulsa", "allegheny", "berks", "bucks", "chester", "delaware", "lancaster", "lehigh", 
#     "montgomery", "philadelphia", "westmoreland", "york", "beaufort", "charleston", "greenville", "horry", 
#     "lexington", "richland", "spartanburg", "davidson", "knox", "rutherford", "sevier", "shelby", 
#     "williamson", "bell", "bexar", "brazoria", "brazos", "cameron", "collin", "dallas", "denton", 
#     "el paso", "fort bend", "galveston", "harris", "hidalgo", "lubbock", "mclennan", "nueces", "tarrant", 
#     "travis", "davis", "salt lake", "utah", "brown", "dane", "milwaukee", "waukesha"
# ]

counties = [
    "alameda",
    "contra costa",
    "fresno",
    "kern",
    "los angeles",
    "marin",
    "monterey",
    "orange",
    "placer",
    "riverside",
    "sacramento",
    "san bernardino",
    "san diego",
    "san francisco",
    "san joaquin",
    "san luis obispo",
    "san mateo",
    "santa barbara",
    "santa clara",
    "santa cruz",
    "solano",
    "sonoma",
    "stanislaus",
    "tulare",
    "ventura"
]


# Preprocess county_name column
pre_filtered = pre.copy()
post_filtered = post.copy()

pre_filtered['county_name'] = pre_filtered['county_name'].str.strip().str.lower().str.replace(r'\s+', ' ', regex=True)
post_filtered['county_name'] = post_filtered['county_name'].str.strip().str.lower().str.replace(r'\s+', ' ', regex=True)


# Filter the DataFrame
pre_filtered = pre_filtered[pre_filtered['county_name'].isin(counties)]
post_filtered = post_filtered[post_filtered['county_name'].isin(counties)]

In [50]:
common_addresses = pd.merge(pre[['restaurant_location']], post[['restaurant_location']], on='restaurant_location', how='inner')

# Filter both DataFrames to include only the matched addresses
pre_filtered = pre[pre['restaurant_location'].isin(common_addresses['restaurant_location'])]
post_filtered = post[post['restaurant_location'].isin(common_addresses['restaurant_location'])]

In [53]:
post_filtered['menu_item_price'].mean()

8.766828160191361

In [54]:
pre_grouped = pre_filtered.groupby(['restaurant_name', 'restaurant_location'])['menu_item'].agg('count').reset_index()
post_grouped = post_filtered.groupby(['restaurant_name', 'restaurant_location'])['menu_item'].agg('count').reset_index()

In [56]:
post_grouped['menu_item'].mean()

138.52177777777777

In [57]:
pre_filtered = pre_filtered[pre_filtered['menu_item_price'] < 6]
post_filtered = post_filtered[post_filtered['menu_item_price'] < 6]

In [58]:
pre_grouped = pre_filtered.groupby(['restaurant_name', 'restaurant_location'])['menu_item'].agg('count').reset_index()
post_grouped = post_filtered.groupby(['restaurant_name', 'restaurant_location'])['menu_item'].agg('count').reset_index()

In [60]:
post_grouped['menu_item'].mean()

57.913777777777774