In [1]:
import json
import pandas as pd
import numpy as np
import re
from datetime import datetime

In [2]:
file_path = "/Users/alyssanguyen/Desktop/IRLE_scraping/csv_files/processed_prices_ubereats_ca_ff_03222024.csv"
ca_ff = pd.read_csv(file_path)

In [3]:
ca_ff.columns

Index(['Unnamed: 0', 'restaurant_name', 'restaurant_location',
       'menu_item_price mean_non_zero', 'menu_item_price median_non_zero',
       'menu_item_price std_non_zero', 'restaurant_rating mean',
       'menu_item count', 'number_of_ratings first', 'specialty_item', 'combo',
       'cheeseburger', 'hamburger', 'fries', 'state', 'zip', 'county_name',
       'date', 'uber_eats', 'post_policy', 'fast_food', 'local'],
      dtype='object')

In [4]:
#Unique Restaurants
len(ca_ff['restaurant_name'].unique())

9

In [5]:
#Unique Counties 
len(ca_ff['county_name'].unique())

29

In [6]:
def mean_non_zero(x):
    return np.mean(x[x != 0]) if np.any(x != 0) else 0

def median_non_zero(x):
    return np.median(x[x != 0]) if np.any(x != 0) else 0

def std_non_zero(x):
    return np.std(x[x != 0]) if np.any(x != 0) else 0

In [121]:
agg_dict = {
    'menu_item_price mean_non_zero': mean_non_zero,
    'menu_item_price median_non_zero': mean_non_zero,
    'menu_item_price std_non_zero': mean_non_zero,
    'restaurant_rating mean': mean_non_zero,
    'menu_item count': mean_non_zero,
    'hamburger': mean_non_zero,
    'cheeseburger': mean_non_zero,
    'specialty_item': mean_non_zero,
    'fries': mean_non_zero,
    'combo': mean_non_zero,
    'county_name': 'count'
}

# Perform the groupby and aggregation
result = ca_ff.groupby("restaurant_name").agg(agg_dict)

# Reset index to turn 'restaurant_name' from index to a column
result = result.reset_index()

# Rename the columns to more readable names
result.columns = [
    'Restaurant Name', 
    'Average Menu Item Price', 
    'Median Menu Item Price', 
    'Std Dev Menu Item Price', 
    'Average Restaurant Rating', 
    'Average Menu Item Count', 
    'Average Hamburger Price', 
    'Average Cheeseburger Price', 
    'Average Specialty Item Price', 
    'Average Fries Price', 
    'Average Combo Price', 
    'County Count'
]

result

,Restaurant Name,Average Menu Item Price,Median Menu Item Price,Std Dev Menu Item Price,Average Restaurant Rating,Average Menu Item Count,Average Hamburger Price,Average Cheeseburger Price,Average Specialty Item Price,Average Fries Price,Average Combo Price,County Count
0,Applebee,20.593280,15.296237,20.962820,4.273656,140.387097,13.808602,14.706720,NaN,14.875920,NaN,186
1,Buffalo Wild Wings,7.729876,6.330000,8.967980,4.193636,109.500000,NaN,13.498182,NaN,4.867315,NaN,110
2,Denny,10.023410,8.517061,6.086510,4.223030,147.981818,NaN,13.658405,NaN,5.215333,NaN,165
3,Outback Steakhouse,18.067444,14.071364,12.957996,4.385714,109.324675,14.948533,10.470519,NaN,5.064026,NaN,77
4,Panera Bread,8.875863,7.863333,7.724865,4.653333,184.666667,NaN,NaN,NaN,NaN,NaN,15
5,Red Robin,12.050759,11.203814,7.822556,4.467797,130.644068,NaN,8.345254,NaN,4.543158,NaN,59
6,TGI Fridays,25.089391,16.582069,26.598320,4.179310,179.068966,NaN,13.705862,NaN,3.167931,NaN,29